html {
  font-size: 100%;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:   1.2em;
  font-weight: 300;
  padding-top: 3em;
}

@media (max-width: 767px) {
  .container-fluid {
    overflow-x: hidden;
  }

  .justified {
    margin: 0 auto;
    width:  95%;
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight:  400;
  padding-left: 0.5em;
}

hr {
  border-width: 2px;
}

li p {
  font-size: 0.95em;
}

#more-games {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding-top 0;
}

#more-games.visible {
  max-height: 1000px;
  overflow: auto;
  padding-top: 2em;
}

.changelog h2:nth-of-type(2):before {
  content: '\APrevious versions:\A\A';
  font-weight: 700;
  margin-bottom: 1em;
  white-space: pre;
}

.changelog h2:first-of-type:after {
  content: ' – Current version';
  font-weight: 700;
}

.disclaimer {
  font-size:   0.8em;
  line-height: 0.9em;
}

.item {
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  -ms-border-radius:     10px;
  -o-border-radius:      10px;

  border-radius: 10px;
  width: 131px;
}

.layered {
  height: 500px;
}

.layered img {
  border-radius: 2px;
  position:      relative;

  -webkit-filter: drop-shadow(2px 3px 5px #000000);
  filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='5'/><feOffset dx='2' dy='3' result='offsetblur'/><feFlood flood-color='#777777'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
}

.layered img:first-child {
  z-index:  4;
}

.layered img:nth-child(3) {
  top:     -80px;
  left:    70px;
  z-index: 4;
}

.layered img:nth-child(5) {
  left:    180px;
  top:     -250px;
  z-index: 3;
}

.layered img:nth-child(7) {
  left:    40px;
  top:     -180px;
  z-index: 2;
}

.layered img:nth-child(9) {
  left:    75px;
  top:     -200px;
  z-index: 3;
}

.layered img:nth-child(11) {
  top:     -270px;
}

.justified {
  text-align: justify;
}

.justified p {
  margin-top: 1em;
}

.screenshot {
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
  -ms-border-radius:     2px;
  -o-border-radius:      2px;
  -webkit-box-shadow:    2px 3px 5px 2px #777777;
  -moz-box-shadow:       2px 3px 5px 2px #777777;

  border-radius: 2px;
  box-shadow:    2px 3px 5px 2px #777777;
  width:         320px;
}

.spacer {
  margin: 2em 0;
}

.text-muted {
  font-weight: 200;
}
