[submodule "Suitcase/Classes/External/ASIHTTPRequest"]
	path = Suitcase/Classes/External/ASIHTTPRequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "Suitcase/Classes/External/TTTAttributedLabel"]
	path = Suitcase/Classes/External/TTTAttributedLabel
	url = git://github.com/mattt/TTTAttributedLabel.git
[submodule "Suitcase/Classes/External/InAppSettingsKit"]
	path = Suitcase/Classes/External/InAppSettingsKit
	url = git://github.com/futuretap/InAppSettingsKit.git
[submodule "Suitcase/Classes/External/TBXML"]
	path = Suitcase/Classes/External/TBXML
	url = git://github.com/71squared/TBXML.git
