[submodule "TTTAttributedLabel"]
	path = Suitcase/External/TTTAttributedLabel
	url = git://github.com/mattt/TTTAttributedLabel.git
[submodule "InAppSettingsKit"]
	path = Suitcase/External/InAppSettingsKit
	url = git://github.com/futuretap/InAppSettingsKit.git
[submodule "AFNetworking"]
	path = Suitcase/External/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
