---
layout: default
title:  Suitcase – An iOS inventory viewer for Steam games
---

<div class="row">
  <div class="col-md-8">
    <h1>Suitcase</h1>
    <h2>An iOS inventory viewer for Steam games</h2>

    <hr class="spacer">

    <div class="row">
      <h2>All games…</h2>
      <div class="row">
        <div class="col-md-5">
          <img alt="Games" class="screenshot" src="img/games.png">
        </div>
        <div class="col-md-7 justified">
          <p>
            Supports Steam itself and all games that provide inventory
            information via Steam’s Web API. Currently these inventories are
            supported:
          </p>

          <ul>
            <li>Steam</li>
          </ul>
          <hr style="width: 80%">
          <ul>
            <li>BattleBlocks Theater</li>
            <li>Counter-Strike: Global Offensive</li>
            <li>Dota 2 <em>(including Test version)</em></li>
            <li>Portal 2</li>
            <li>Sins of a Dark Age</li>
            <li>Super Monday Night Combat</li>
            <li>Team Fortress 2 <em>(including Beta version)</em></li>
            <li>Warframe</li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="spacer">

    <div class="row">
      <h2>… all items…</h2>
      <div class="row">
        <div class="col-md-5">
          <img alt="Items" class="screenshot" src="img/items.png">
        </div>
        <div class="col-md-7 justified">
          <p>
            Get a quick overview about all items in an inventory. All items
            will be displayed with their name and an icon as known from the
            games.
          </p>

          <p>
            Additionally, you can see the quality of an item with a quick
            glance at the (optional) colored bar left to its icon.<sup>2</sup>
          </p>

          <p>
            Swiping down will show the search bar which can be used to search
            through all items in an inventory by name.
          </p>

          <p>Sort items by:</p>
          <ul>
            <li>Position in the inventory</li>
            <li>Item name</li>
            <li>Type of the item</li>
            <li>Origin<sup>2<sup></li>
            <li>Item quality<sup>2<sup></li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="spacer">

    <div class="row">
      <h2>… all information</h2>
      <div class="row">
          <div class="col-md-5 layered">
            <img alt="Portal 2 – GlaDOS" class="item" src="img/glados.png"><br>
            <img alt="Counter-Strike: Global Offensive – Operation Bravo Challenge Coin"
                 class="item" src="img/operation_bravo.png"><br>
            <img alt="Dota 2 – Morcant" class="item" src="img/morcant.png"><br>
            <img alt="Item attributes" class="" src="img/attributes.png"><br>
            <img alt="Team Fortress 2 – Item set" src="img/itemset.png"><br>
            <img alt="Team Fortress 2 – Classes" src="img/classes.png">
          </div>
          <div class="col-md-7 justified">
            <p>
              Get detailed information on every aspect of an item. See which type
              an item is and where it was obtained from, read its full
              description and all of its attributes.
            </p>

          <p>
            Additionally, you will find the following useful information:
          </p>
          <ul>
            <li>
              Item sets
              <p>
                See which item set, if any, an item belongs to and which other
                items (including images) belong to that set.
              </p>
            </li>
            <li>
              “Kill eater” ranks<sup>2</sup>
              <p>
                Some items have a rank that increases with kills or other
                actions completed with this item.
              </p>
            </li>
            <li>
              Equipped items<sup>3</sup>
              <p>
                Which class can equip an item? And which one actually has it
                equipped at the moment?
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    {% include appstore.html %}

    <div class="row col-md-12 text-center">
      <a href="CHANGELOG.html">Version history</a>
    </div>

    <div class="hidden-xs">
      {% include twitter.html %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <hr class="spacer">

    <sup>1</sup> Item names, descriptions and other attributes will be
    displayed in the language set in your device preferences as far as
    supported by the game's translation.<br>
    <sup>2</sup> Not used by all supported games.<br>
    <sup>3</sup> Currently, this is only supported for Team Fortress 2 and the
    Team Fortress 2 beta.
  </div>
</div>
