<script type="text/javascript">
  $(function() {
    if (navigator.userAgent.match('CriOS')) {
      $('#appstore-link').attr('href', 'itmss://itunes.apple.com/app/id539259008');
    }
  });
</script>
<div class="row-fluid span12 text-center" style="margin-top: 3em">
  <a id="appstore-link" href="http://appstore.com/sebastianstaudt/suitcase">
    <img alt="Available on the AppStore" src="img/appstore.png">
  </a>
  <p class="muted" style="margin-top: 1em">
    Supports all devices running<br>iOS 5 or higher<br><br>
    Available languages: English and German<sup>1</sup>
  </p>
</div>
