<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,400,300,200">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="twitter:app:id:iphone" content="id539259008">
    <meta name="twitter:app:id:ipad" content="id539259008">
    <meta name="twitter:card" content="app">
    <meta name="twitter:url" content="http://koraktor.de/suitcase/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{{page.title}}</title>
    {% include google_analytics.html %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-3 col-xs-12">
          {{content}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-left: 0">
          <hr>

          <p class="text-muted text-center">
            © {{site.time | date: '%Y' }} – Sebastian Staudt | <a href="http://koraktor.de">koraktor.de</a>
            <span class="hidden-phone">|</span>
            <a href="https://twitter.com/suitcaseapp">Twitter</a> |
            <a href="https://plus.google.com/112550920854237410789" rel="publisher">Google+</a>
          </p>

          <p class="disclaimer text-muted text-center">
            Valve, Steam, Counter-Strike, Dota, Portal, and Team Fortress are
            trademarks and/or registered trademarks of Valve Corporation.<br>
            Suitcase is not affiliated with Valve in any way.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
